{% extends "soup/base.html" %}
{% block content %}
<h1>Add page</h1>

<form action="/add/{{ page.id }}" method="post">
  <div class="form-group">
     <label for="address">address:</label>
    <input id="address" type="text" class="form-control" name="page">
    {% csrf_token %}
    <label for="site">site:</label>
    <select id="site" name="site" class="form-control">
    {% for site in site_list %}
        <option value="{{ site.id }}">{{ site.name }}</option>
    {% endfor %}
    </select>
    <input type="submit" class="btn btn-primary" value="Vote" />
  </div>
</form>
{% endblock %}

